[submodule "third_party/curobo"]
	path = third_party/curobo
	url = https://github.com/yuechen0614/curobo.git
	branch = main
[submodule "XPolicyLab"]
	path = XPolicyLab
	url = https://github.com/stmharry/XPolicyLab.git
	branch = main
